@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        @apply scroll-smooth
    }
    body{
        @apply font-openSans
    }
}

@layer utilities{
    .container{
        @apply px-4 mx-auto w-full xs:max-w-[540px] sm:max-w-[720px] md:max-w-[960px] lg:max-w-[1140px] xl:max-w-[1320px]
    }
    h1,h2,h3,h4{
        @apply font-semibold font-Rubik text-balance
    }
    h2{
        @apply text-2xl sm:text-3xl md:text-4xl
    }
    p{
        @apply text-gray-500 md:text-[18px]
    }
    .section{
        @apply pt-[120px] md:pt-[150px]
    }

}
@layer components{
    .primary-btn{
        @apply bg-secondaryClr py-[11px] px-9 rounded-full border font-medium border-secondaryClr hover:bg-transparent hover:text-secondaryClr transition-colors duration-300
    }
    .secondary-btn{
        @apply border px-9 py-[11px] text-white font-medium rounded-full transition-colors hover:bg-secondaryClr hover:border-secondaryClr hover:text-black duration-300
    }
}


/* Header */
.header{
    @apply fixed top-0 left-0 text-white w-full z-40
}
.header.active{
    @apply bg-white text-neutral-900;
    box-shadow: 0 2px 0 #0002;
    animation: slideIn forwards 0.5s ease-in-out;
}

@keyframes slideIn{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}
.navbar{
    @apply absolute top-0 left-0 bg-white text-neutral-900 md:hidden w-full max-w-[280px] -translate-x-[290px] h-screen p-6 transition-transform duration-300 ease-in-out z-40
}
.navbar.active{
    @apply translate-x-0
}
.overlay{
    @apply fixed top-0 left-0 bg-neutral-700/50 md:hidden w-full h-screen opacity-0 pointer-events-none transition-opacity duration-300
}
.overlay.active{
    @apply opacity-100 pointer-events-auto z-30
}

@keyframes infinite-scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  .animate-infinite-scroll {
    animation: infinite-scroll 30s linear infinite;
  }
  @media (hover: hover) {
    .animate-infinite-scroll:hover {
      animation-play-state: paused;
    }
  }